*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	border: 5px solid purple;

	font-family: Arial, sans-serif;
	background-color: #f8f9fa;
	color: #333;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.verticalCenter {
	border: 2px solid blue;
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-grow: 1;
	height: 100%;
}

/* Full button grid container */
.buttonGrid {
	/* border: 2px solid red; */
	/* margin: 20px auto; */
	/* width: 100%; */
	/* background-color: #fff; */
	display: flex;
	flex-direction: column;
}

/* Button row styling */
.buttonRow {
	/* border: 2px solid green; */
	display: flex;
	width: 100%;
}

/* Individual button styling (besides color) */
.buttonToggle {
	width: 100%;
	height: 8rem;
	font-size: 2rem;
	color: #fff;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

/* Different color buttons */
/* Need yellow, blue, red, green */
.buttonToggle.yellow {
	background-color: #ffc107;
}
.buttonToggle.blue {
	background-color: #007bff;
}
.buttonToggle.red {
	background-color: #dc3545;
}
.buttonToggle.green {
	background-color: #28a745;
}
.buttonToggle.off {
	background-color: #6c757d;
}